@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkest: #121212;
  --color-dark: #1e1e1e;
  --color-medium: #2f2f2f;
  --color-light: #b3b3b3;
  --color-white: #ffffff;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-darkest);
  color: var(--color-white);
  line-height: 1.6;
}